:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #2c3e50;
  --slider-value-color: #2c3e50;
  --link-color: #2c3e50;
  --error-color: red;
  --error-background-color: rgba(255, 0, 0, 0.3);
  --active-link-color: #42b983;
  --scrollbar-color: #d3dbe5;
  --button-background: #f0f0f0;
  --button-text-color: #2c3e50;
  --input-background: #ffffff;
  --input-text-color: #2c3e50;
  --button-background-disabled: #cccccc;
  --button-text-color-disabled: #888888;
  --button-background-hover: #e0e0e0;
  --chart-line-color: #4b9cc5;
  --chart-grid-color: rgba(0, 0, 0, 0.1); 
  --chart-font-color: #2c3e50; 
  --chart-tooltip-bg: #ffffff; 
  --calculated-info-border: 2px solid #5ec3f6;
  --regular-border-color: #ccc;

  --3: 3px;
  --4: 4px;
  --6: 6px;
  --8: 8px;
  --10: 10px;
  --12: 12px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --bg-color: #fefefe;
  --text-color: #212121;
  --card-bg-color: #bcdad3;
  --arrow-color: #333333;
}

.theme-dark {
  --bg-color: #212121;
  --text-color: #f0f0f0;
  --card-bg-color: #30363a;
  --arrow-color: #fefefe;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
}

.regular-button {
  padding: var(--8) var(--16);
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius-2);
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--active-link-color);
  }

  &:disabled {
    background-color: var(--button-background-disabled);
    color: var(--button-text-color-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: var(--button-background-hover);
  }
}

label {
  margin-bottom: var(--6);
  color: var(--text-color);
  font-size: 0.9em;
  text-align: start;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Global Scrollbar Styles */

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--input-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--border-radius-4);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--input-background);
}

/* For Edge and IE (limited support) */
@supports (-ms-overflow-style: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--input-background);
  }
}
