:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: #2c3e50;
  --lines-color: #8a8a8a;
  --button-background: #f0f0f0;
  --button-text-color: #2c3e50;
  --button-background-hover: #e0e0e0;
  --regular-border-color: #ccc;

  --3: 3px;
  --4: 4px;
  --6: 6px;
  --8: 8px;
  --10: 10px;
  --12: 12px;
  --16: 16px;
  --20: 20px;
  --24: 24px;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --bg-color: #fefefe;
  --text-color: #212121;
  --card-bg-color: #bcdad3;
  --arrow-color: #333333;
  --scrollbar-color: #bdc3cc;
  --input-background: #ececec;
}

.theme-dark {
  --bg-color: #3e3e3e;
  --button-text-color: #e7e7e7;
  --button-background: #6f6f6f;
  --button-background-hover: #898989;
  --text-color: #f0f0f0;
  --lines-color: #c0c7ce;
  --card-bg-color: #30363a;
  --arrow-color: #fefefe;
  --scrollbar-color: #b1b2b4;
  --input-background: #535558;
}

* {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
}

.regular-button {
  padding: var(--8) var(--16);
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius-4);
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid var(--active-link-color);
  }

  &:disabled {
    background-color: var(--button-background-disabled);
    color: var(--button-text-color-disabled);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: var(--button-background-hover);
  }
}

label {
  margin-bottom: var(--6);
  color: var(--text-color);
  font-size: 0.9em;
  text-align: start;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

/* Global Scrollbar Styles */

/* For WebKit browsers */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--input-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--border-radius-4);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--input-background);
}

/* For Edge and IE (limited support) */
@supports (-ms-overflow-style: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--input-background);
  }
}
